@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

:root {
  --primary-color: #5841b9;
  --shadow: 3px 3px 2px lightgrey;
  --hover-color: #bdb4e4;
  --active-color: #6b55c3;
}

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 300px;
}

h1 {
  font-family: 'Caprasimo', cursive;
  grid-column: 1 / 6;
  font-size: 2.2em;
  color: var(--primary-color);
  text-align: center;
}

input {
  grid-column: 3 / 4;
  border-radius: 50%;
  box-shadow: var(--shadow);
  padding: 1em;
}

input:hover {
  background-color: var(--hover-color);
}

input:active {
  background-color: var(--active-color);
}

p {
  grid-column: 1 / 6;
  text-align: center;
}