@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter&display=swap');

:root {
  --primary-color: #5841b9;
  --shadow: 3px 3px 2px lightgrey;
  --hover-color: #bdb4e4;
  --active-color: #6b55c3;
  --page-margin-top: calc(3em + 5vh); /*font-size of h1 + its distance from top */
}

.hide {
  display: none !important;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 300px;
  height: 300px;
}

h1 {
  font-family: 'Caprasimo', cursive;
  font-size: 3em;
  color: var(--primary-color);
  text-align: center;
  position: absolute;
  top: 5vh;
  right: 0;
  width: 100%;
}

.page {
  grid-column: 1 / 6;
  margin-top: var(--page-margin-top);
}

#record-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5vh;
  gap: 5vh;
}

#transcript-page {
  padding: 2vh;
  padding-top: 5vh;
}

#mic {
  border-radius: 50%;
  box-shadow: var(--shadow);
  padding: 3vw;
  height: 20vw;
  width: 20vw;
}

input[type="image"]:hover {
  background-color: var(--hover-color);
}

input[type="image"]:active {
  background-color: var(--active-color);
}

.hover-info {
  position: absolute;
  top: 0;
  right: -10px;
  background-color: var(--hover-color);
  color: darkslategray;
  border-radius: 5px;
  padding: 3px;

}

#hint {
  width: 30vw;
  top: 40vw;
  right: 5vw;
}

#recording-animation {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 2em;
}

.recording-bar:nth-child(1),
.recording-bar:nth-child(3) {
  height: 8vw;
  animation-name: stretch1;
}

.recording-bar:nth-child(2),
.recording-bar:nth-child(4) {
  height: 6vw;
  animation-name: stretch2;
}

.recording-bar {
  border: 3px solid var(--active-color);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  background-color: var(--active-color);
  width: 2vw;
}

audio {
  grid-column: 1 / 6;
}

@keyframes stretch1 {
  0% {
    transform: scaleY(.5);
  }

  50% {
    transform: scaleY(1.5);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes stretch2 {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(1.5);
  }

  100% {
    transform: scaleY(.5);
  }
}

#spinner {
  border-color: var(--primary-color);
  border-top-color: var(--hover-color);
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
  padding: 4vw;

  animation-name: spinning;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes spinning {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}

#permission-note {
  width: 80%;
}

#transcript {
  height: 30vh;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  font-size: 1.1em;
  overflow-y: scroll;
  border-radius: 5px;
}

#transcript-controls {
  display: flex;
  align-items: center;
  height: 15vh;
  margin-top: 5vh;

}

.transcript-control-icons {
  height: 80%;
  border-radius: 5px;
}

#copied-notification {
  background-color: lightgreen;
  padding: 5px;
}

.notify {
  animation-name: notify;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes notify {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#copy-icon {
  height: 60%;
  margin-right: 5px;
}

#transcript-number {
  display: inline;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 1.3em;
}

#server-error {
  background-color: pink;
  color: red;
  padding: 5px;
}

#no-wifi-icon {
  width: 20vw;
}

#sign-in-prompt-container {
  width: 90vw;
  height: 10vw;
  margin-top: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  position: relative;
}

#sign-in-prompt {
  height: 100%;
  width: 100%;
  background-color: lightgreen;
  border: none;
  font-size: 1.2em;
  border-radius: 5px;
}

#sign-in-prompt:hover {
  background-color: greenyellow;
}

#sign-in-prompt:active {
  background-color: green;
}

#sign-in-prompt-pulser {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  z-index: -1;

  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

@keyframes pulse {
  from {
    transform: scale(1, 1);
    background-color: lightgreen;
  }

  to {
    transform: scale(1.05, 1.3);
    background-color: #e9fce9;
  }
}

#nav-bar {
  height: 15vw;
  width: 100%;
  margin-top: 10vw;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid var(--hover-color);
  border-right: 1px solid var(--hover-color);
  position: absolute;
  bottom: 0;
  right: 0;
}

#nav-bar input {
  height: 60%;
  border-radius: 5px;
  padding: 3px;
  padding-left: 5%;
  padding-right: 5%;
}