@import url(../popup/index.css);

* {
  margin: 0;
}

body {
  grid-template-columns: repeat(12, 1fr);
  width: auto;
}

h1 {
  grid-column: 1 / 13;
  text-align: center;
  font-size: 3em;
  margin-top: 1em;
  position: static;
}

/* #version-toggle {
  grid-column: 3 / 11;
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  height: 6vh;
  margin-top: 3vh;
}

#version-toggle button:first-child {
  flex: 1;
  height: 100%;
}

#version-toggle button:last-child {
  flex: 1;
  height: 100%;
}

#version-toggle span {
  background-color: lightgreen;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  margin-left: 5px;
} */

/* .activate-version {
  font-size: 1.5em;
  background-color: var(--primary-color);
  color: white;
} */

#free-version-settings,
#premium-version-settings {
  grid-column: 4 / 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-top: 1em;
  font-size: 1.5em;
  width: 80%;
}

label {
  font-size: 1.2em;
  margin-top: 3em;
}

select, input {
  width: 100%;
  height: 2em;
  font-size: inherit;
  margin-top: .3em;
  margin-bottom: 2em;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
}

input[type="submit"]:hover {
  background-color: var(--hover-color);
}

input[type="submit"]:active {
  background-color: var(--active-color);
}

input[type="range"] {
  width: 5%;
  display: block;
}

#spinner {
  width: 1%;
  height: 1%;
  margin-left: 49.5%;
}

.info {
  background-color: var(--hover-color);
  font-size: 1.2em;
  padding: 1em;
  margin: 2em; 
}

#saved-slider {
  font-size: 1.2em;
  padding: 2em;
  background-color: lightgreen;
  border-radius: 1%;
  color: var(--primary-color);
  width: 20vw;
  position: absolute;
  bottom: 0;
  left: 40vw;

  animation-name: slide;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-1vh);
  }
  50% {
    opacity: 1;
    transform: translateY(-20vh);
  }
  100% {
    opacity: 0;
    transform: translateY(-1vh);
  }
}